<!-- wp:template-part {"slug":"header","theme":"udemy","tagName":"header","className":"shadow"} /-->

<!-- wp:columns {"className":"container !mx-auto ","style":{"spacing":{"margin":{"top":"4rem","bottom":"4rem"}}}} -->
<div class="wp-block-columns container !mx-auto" style="margin-top:4rem;margin-bottom:4rem">
    <!-- wp:column {"width":"66.66%","style":{"spacing":{"padding":{"top":"2.5rem","bottom":"2.5rem"}}}} -->
    <div class="wp-block-column" style="padding-top:2.5rem;padding-bottom:2.5rem;flex-basis:66.66%">
        <!-- wp:query {"queryId":13,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"layout":{"type":"default"}} -->
        <div class="wp-block-query"><!-- wp:post-template -->
            <!-- wp:columns {"style":{"spacing":{"padding":{"bottom":"2.5rem"},"margin":{"bottom":"2.5rem"}}}} -->
            <div class="wp-block-columns" style="margin-bottom:2.5rem;padding-bottom:2.5rem">
                <!-- wp:column {"width":"33.33%"} -->
                <div class="wp-block-column" style="flex-basis:33.33%">
                    <!-- wp:post-author {"avatarSize":24,"className":"post-author","style":{"elements":{"link":{"color":{"text":"var:preset|color|u-gray-700"}}},"spacing":{"padding":{"bottom":"0.5rem","right":"0px","top":"0px","left":"0px"}}},"textColor":"u-gray-700"} /-->

                    <!-- wp:post-title {"isLink":true,"className":"text-xl mb-4 font-medium text-gray-700","style":{"elements":{"link":{"color":{"text":"var:preset|color|u-gray-700"}}},"typography":{"fontSize":"1.25rem","fontStyle":"normal","fontWeight":"700","lineHeight":"1.8"},"spacing":{"margin":{"bottom":"0.5rem"}}},"textColor":"u-gray-700"} /-->

                    <!-- wp:post-date {"isLink":true,"className":"text-gray-500 !mt-0","style":{"elements":{"link":{"color":{"text":"var:preset|color|u-gray-500"}}}},"textColor":"u-gray-500"} /-->
                </div>
                <!-- /wp:column -->

                <!-- wp:column {"width":"66.66%","className":"!mt-0"} -->
                <div class="wp-block-column !mt-0" style="flex-basis:66.66%">
                    <!-- wp:post-featured-image {"isLink":true,"width":"100%","className":"block rounded-lg overflow-hidden mb-4","style":{"spacing":{"margin":{"bottom":"1rem"}}}} /-->

                    <!-- wp:group {"className":"flex justify-between pb-4 text-gray-500 text-sm","style":{"typography":{"fontSize":"0.88rem"},"spacing":{"padding":{"bottom":"1rem"},"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
                    <div class="wp-block-group flex justify-between pb-4 text-gray-500 text-sm"
                        style="margin-top:0px;margin-bottom:0px;padding-bottom:1rem;font-size:0.88rem">
                        <!-- wp:post-terms {"term":"post_tag","className":"blog-entry-meta-link bi post-comment-count","style":{"elements":{"link":{"color":{"text":"var:preset|color|u-gray-500"}}}}} /-->
                    </div>
                    <!-- /wp:group -->

                    <!-- wp:post-excerpt {"className":"post-excerpt text-sm"} /-->
                </div>
                <!-- /wp:column -->
            </div>
            <!-- /wp:columns -->
            <!-- /wp:post-template -->

            <!-- wp:query-pagination {"paginationArrow":"chevron","className":"flex justify-between","style":{"elements":{"link":{"color":{"text":"var:preset|color|u-gray-500"}}}},"layout":{"type":"flex","justifyContent":"space-between","flexWrap":"wrap","orientation":"horizontal"}} -->
            <!-- wp:query-pagination-previous {"className":"rounded-md py-2 px-4 block transition-all hover:bg-gray-100"} /-->

            <!-- wp:query-pagination-next {"className":"rounded-md py-2 px-4 block transition-all hover:bg-gray-100"} /-->
            <!-- /wp:query-pagination -->

            <!-- wp:query-no-results -->
            <!-- wp:paragraph {"placeholder":"Add text or blocks that will display when a query returns no results."} -->
            <p></p>
            <!-- /wp:paragraph -->
            <!-- /wp:query-no-results -->
        </div>
        <!-- /wp:query -->
    </div>
    <!-- /wp:column -->

    <!-- wp:column {"width":"33.33%"} -->
    <div class="wp-block-column" style="flex-basis:33.33%"><!-- wp:template-part {"slug":"sidebar","theme":"udemy"} /-->
    </div>
    <!-- /wp:column -->
</div>
<!-- /wp:columns -->

<!-- wp:template-part {"slug":"footer","theme":"udemy","tagName":"footer","className":"bg-gray-700 p-16"} /-->